.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: aquamarine;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 0 black;
  font-size: 8rem;
  color: black;
}

p {
  font-size: 2rem;
  color: red;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.styled-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.styled-button:hover {
  background-color: darkblue;
}
