
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-image: url(backimage.png);
  background-size: 58%;

  

}

h1 {
  margin: 30px;
  text-align: center;
  text-shadow: 1px 0 black;
  font-size: 8rem;
  color: rgba(9, 239, 223, 0.808);
}

p {
  font-size: 2rem;
  color: rgb(43, 17, 239);
  font-weight: bolder;  
  
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.styled-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.styled-button:hover {
  background-color: darkblue;
}
